{# @var props \khalwat\twigprops\AlbumsProps #}
{% set props = {
    dbConnection: null,
    artist: [],
} | merge(props ?? {}) %}

{# Display the albums #}
{% set albums = create({
    class: 'craft\\db\\Query',
})
    .from('albums')
    .where({ ArtistId: props.artist.ArtistId})
    .all(props.dbConnection) %}
<details>
    <summary>Albums ({{ albums | length }})</summary>
    <ul>
        {# @var album \khalwat\attributes\AlbumsAttributes #}
        {% for album in albums %}
            <li>{{ album.Title }}</li>
            {# Display the tracks #}
            {# @var props \khalwat\twigprops\TracksProps #}
            {% set props = {
                dbConnection: props.dbConnection,
                album: album
            } %}
            {{ include('includes/display-tracks.twig', { props }, with_context = false) }}
        {% endfor %}
    </ul>
</details>
